body {
  background-color:#BFE3F9;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

li {
  float: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color:  #0056AB;
}

li a:hover {
  background-color: #24B6FF;
}



li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


img {
  width: 80%;
  height: auto;
}

p {
  text-align: center;
}
